[submodule "DGM-2670-001/"]
	path = DGM-2670-001/
	url = https://github.com/Unity-Technologies/NavMeshComponents.git
[submodule "NavMeshComponents"]
	path = NavMeshComponents
	url = https://github.com/Unity-Technologies/NavMeshComponents.git
